body{
    text-align: center;
    margin: 0;
    padding-top: 800px;
}
.profile{
    width: 175px;
    border-radius: 50%;
    margin-bottom: 50px;
}
#welcome{
    position:absolute;
    overflow: hidden;
    height:800px;
    color:#FFFFFF;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity: 1;
    background: linear-gradient(#57fac1 0%,#fa00e9 100%);
    display:table;
    width:100%;
    height:100%; 
    z-index: 8;
}
.paralax-inner{
    display:table-cell;
    position: relative;
    vertical-align: middle;
}
h1{
    font-size: 40px;
    line-height: 3.2;
    font-family: cursive;
    font-weight: 300;
}
#name{
    font-size: 30px;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
}
h2{
     font-size: 40px;
    line-height: 3.2;
    font-family: 'Nerko One', cursive;
    font-weight: 250;
}
#bio{
    padding: 50px;
    text-align: center;
    font-size:42px;
}
.line{
    height: 6px;
    background-color: black;
    width: 100px;
    margin: 8px auto;
}
.menu{
    list-style:none;
    font-family:inherit;
    position:absolute;
    top:10px;
    right:30px;
    z-index:10;
    cursor: pointer;
}
.links{
    float:left;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: monospace;
    font-size:20px;
    color:white;
}
.links:hover{
    background-color: beige;
    color: black;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.article:hover{
    color:crimson;
}